.actionicon {
    height: 18px;
    width: 20px;
    margin-right: 22px;
}

.actionicon1 {
    height: 18px;
    width: 20px;
    margin-right: 22px;
    cursor: not-allowed;
}
#Content-innerCt {
display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    vertical-align: middle !important;
}
/*#SectionA1NextID-innerCt{
     display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    vertical-align: middle !important;
    
}*/
#AddAlias-innerCt{
     display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    vertical-align: middle !important;
    
}
.gridLabel{
border-style:solid;
border-color:#000000;
}

.BackBt
{
background: #D94E37;
color: white;
border: #D94E37;
}

/*.SaveBt
{
background: Green;
color: white;
border: Green;
}*/